.main {
    width: 35vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    gap: 20px;
}

.alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    height: 100%;
    gap: 20px;
    padding: 20px;
    padding-left: 10px;
}

.testing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    gap: 40px;
    padding: 20px;
    padding-left: 30px;
    padding-top: 0px;
}

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40%;
    gap: 60px;
    padding: 20px;
    padding-top: 40px;
}

.brakes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 80%;
    gap: 40px;
    padding: 10px;
}

/* #region buttons */
.selectorButton {
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 18px;
}

.selectorButton>svg {
    transition: transform 0.3s ease-out;
}

.start,
.end {
    border-radius: 15px;
    width: 6vw;
    height: 7vh;
    cursor: pointer;

    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.start {
    background-color: rgba(0, 255, 0, 0.3);
}

.end {
    background-color: rgba(255, 0, 0, 0.3);
}

.start:hover {
    background-color: rgba(0, 255, 0, 0.6);
}

.end:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.start.active{
    background-color: rgba(0, 255, 0, 1);
}

.end:active{
    background-color: rgba(255, 0, 0, 1);
}

.dropdown{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 15w;
    padding: 10px;
    height: 5vh;
    border-radius: 5px;
}

.submitButton{
    width: 9vw;
    height: 6vh;
    background-color: rgba(0, 162, 255, 0.3);
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* #endregion */

@media (max-width: 768px){
    .main {
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }
    .testing{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .start{
        width: 40vw;
        height: 7vh;
    }
    .end{
        width: 40vw;
        height: 7vh;
    }
    .selector{
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0px;
    }
    .selectorButton{
        width: 100px;
        gap: 10px;
        padding: 0px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width:1024px){
    .selector{
        gap : 140px;
    }
    .start{
        width: 25vw;
    }
    .end{
        width: 25vw;
    }
    .testing{
        gap: 100px;
    }
    .selectorButton{
        width: unset;
    }
}

@media screen and (width: 1024px){
    .main {
        width: 35vw;
        flex-direction: column;
        height: 20vh;
        gap: 0px;
    }
    .testing{
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .start{
        width: 15vw;
        height: 5vh;
    }
    .end{
        width: 15vw;
        height: 5vh;
    }
    .selector{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 0px;
    }
    .selectorButton{
        width: 100px;
        gap: 10px;
        padding: 0px;
        padding-bottom: 10px;
    }
}